[submodule "the-trace-frontend"]
	path = the-trace-frontend
	url = https://github.com/AhmadIbrahim01/the-trace-frontend.git
[submodule "the-trace-backend"]
	path = the-trace-backend
	url = https://github.com/AhmadIbrahim01/the-trace-backend
